* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-height: 960px;
    height: 960px;
    font-size: 0px;
}

.grid {
    border: 1px solid black;
    display: inline-block;
}

